<nav class="fixed">
    <div id="icon-container">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <div id="menu">
        <a href="<%= url_for(action: 'about') %>" >The project</a>
        <a href="/">Data charts</a>
    </div>
</nav>

<div id="aboutpage">
    <img id="introImg" src="<%= image_url('largeaboutdesktop.jpg')%>">
    <div class="container1">
        <div class="row" id="section1">
            <a href="/"><img id="questionBox" class="hvr-shrink" src="<%= image_url('largeaboutQuestionBox.png')%>"></a>
            <div class="col-sm-7" id="firstDiv">
                <h1>About Chicago In Data</h1>
                <p>Our organization believes that in order to create a justful, effective and trustworthy government for the diverse population of Chicago, it's imperical to establish transparency between the people and the on-going decision-making of it's elected officials.</p>
                <h3>Our Story</h3>
                <p>Chicago In Data was founded in 2017 by Danny Arvizu with the intent to create a more transparent goverment  in the city of Chicago. Using Chicago's public data portal, the first data charts in finance and health care were developed and open to the public. </p>
                <h3>Our Mission</h3>
                <p>Put simply, our mission is to increase public awareness of the decision-making and status quo of Chicago's governing infrastructures.</p>
            </div>
            <div class="col-sm-5" id="secondDiv">
                <h3>What We Do</h3>
                <p>In order to achieve  our mission, we actively seek and provide data to the public in the form of data charts in regards to Chicago's governing infrastructures such as health, law, business and finance.</p>
            </div>
        </div>
        <div class="row" id="section2">
            <div class="col-xs-6" id="quoteDiv">
                <img src="<%= image_url('quotes.png')%>">
                <h2>Democracy must be built through open societies that share information. When there is information, there is enlightenment. When there is debate, there are solutions. When there is no sharing of power, no rule of law, no accountability, there is abuse, corruption, subjugation and indignation.</h2>
                <div id="signiture">
                    <h5>Atifete Jahaga</h5>
                    <h6>4th President of Kosovo</h6>
                </div>
            </div>
            <div class="col-xs-6" id="imgDiv">
                <img class="img-responsive" src="<%= image_url('largeaboutAtifete.png')%>">
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <div id="imgContainer">
        <img src="<%= image_url('logo_footer.png')%>">
    </div>
    <a href="/" class="hvr-float">Privacy Policy</a>
    <a hred="/" class="hvr-float">Contact Us</a>
</footer>